.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.home-image {
  width: 150px;
}
.home-heading {
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 56px;
  color: #6d396b;
}
@media screen and (min-width: 576px) {
  .home-heading {
    font-size: 48px;
  }
}
