.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}
.logo-and-title-container {
  display: flex;
  align-items: center;
}
.logo-image {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.title {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}
.nav-items-list {
  display: flex;
  padding-left: 0px;
}
.link-item {
  list-style-type: none;
}
.route-link {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  margin-left: 16px;
  text-decoration: none;
}
